h1= title
p Welcome to #{title}
  - if (user)
    p Welcome #{user}
  - else
    p Would you like to sign in? 
      a(href='/twitter') Sign in
p Lets play #{game}!
p Are the following the same?
  img(src='/images/eng.jpg')
  img(src='/images/ger.jpg')
  
