block login
p Welcome to Powerball. This is an experiment to see how we can gamify QA tasks so that we can get a wider audience
   |  involved. This came about after a conversation with Joel Maher and 
   a(href='http://www.theautomatedtester.co.uk') David Burns
   |  while at a Mozilla work week in Toronto.

