block login
h1 Welcome to #{title}
p Welcome to Powerball. This is an experiment to see how we can gamify QA tasks so that we can get a wider audience
   |  involved. This came about after a conversation with Joel Maher and 
   a(href='http://www.theautomatedtester.co.uk') David Burns
   |  while at a Mozilla work week in Toronto.
ul(id='slider')
    li
      a(href='/game/l10n')
        img(src='/images/l10n-slide.jpg')
      h2 L10n Testing 
      p Got a few free minutes to go through some image? 
        | Help check that our localisation of Firefox and Thunderbird is correct!
    li
      a(href='http://people.mozilla.org/~jmaher/powerball.xpi')
        img(src='/images/buggie.png')
      h2 BugSweeper
      p Earn points while interacting with Bugzilla. Adding patches, raising bugs, even triaging them!! BugSweeper addon
        | makes this all possible
