h2 Leaderboards
p The Leaderboard of who has been scoring the most. Below is a list of the top 25 people who have been 
  | playing and their score for the last 7 many days
table
  tr
    td 
      strong user name
    td 
      strong score
  - each points, user in leaderboard
    tr
      td
        a(href='/user/#{user}') #{user}
      td
        #{points}
