body {
  padding: 50px;
  margin: 0pt auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  border-top: 2px solid #676767;
  background: #fff url(/images/background.png) 0 0 repeat-x;
}
table {
  border: 1px solid #AAAAAA;
  border-radius: 10px 10px 10px 10px;
  border-spacing: 0;
  margin-bottom: 20px;
  padding: 5px;
  position: relative;
  width: 100%;
}

#container {
  margin: 0pt auto;
  width:850px;
}

a {
  color: black;
}

a.mozilla {
  position: absolute;
  top:0;
  right:20px;
  display: block;
  height: 49px;
  width: 118px;
  background: url(/images/mozilla-tab.png) 100% 0 no-repeat;
  text-indent: -200px;
  overflow: hidden;
  margin-right: 20px;
}
.user_data {
    overflow: hidden;
    zoom: 1; /* can delete this is IE6/7 isn't an issue */
    position: absolute;
    right: 170px;
    top: 2px;
}
.signin {
  display:block;
  padding:10px;
  float: left;
}

footer {
  position:relative;
  left:40%;
  bottom: 10px;
  font-size:8px;
}

ul#nav {
  font-size:13px;
  list-style:none outside none;
  position:relative;
  overflow:auto;
}

ul#nav li {
  float:left;
  margin: 0 7px;
}

ul#nav li a {
 display:block;
 text-align:center;
 outline: 0pt none;
 color: rgb(94,94,94);
 padding:10px;
 width:106px;
 border: 1px solid rgba(176, 193, 210, 0.3);
 border-radius: 6px 6px 6px 6px;
 box-shadow: 0pt 0pt 0pt 1px rgba(255, 255, 255, 0.5) inset;
 -moz-transition: all 0.25s ease-out 0s;
 -moz-user-select: none;
}

.score {
  color:#e1effc;
  display:block;
  padding: 7px;
  background:#148CB5;
  width: 30px;
  float: left;
  border: 1px solid rgba(176, 193, 210, 0.3);
  border-radius: 6px 6px 6px 6px;
}

@media all and (max-width: 600px){
  a.mozilla {
    right:5px;
    margin-right: 5px;
  }

  .user_data {
    right:130px;
  }

  .signin{
    margin:0px;
    padding: 2px;
    right: 150px;
  }

  .movingBoxes {
    display:none;
  }
}
