#menu, #menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#menu li a {
  display: block;
  height: 1.5em;
  text-decoration: none;
}

#menu li:hover ul {
  display: block;
}

/* Main menu
------------------------------------------*/
#menu {
  font-family: "Lucida Grande", "Segoe UI", Arial, sans-serif;
  font-size: 11px;
}

#menu > li > a {
  color: #888;
  font-weight: bold;
}

#menu > li:hover > a {
  color: #fff;
}
 
/* Submenu
------------------------------------------*/
#menu ul li a {
    color: #000;
}
#menu ul li:hover a {
    background: #ffc97c;
}
